<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Project 2 Landing Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Style Sheet -->
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"></li>
          <a class="nav-link" href="/maps">Map</a>
           </li>
          <li class="nav-item">
             <a class="nav-link" href="/charts">Visualization</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/data">Table</a>
            </li>
           </ul>
    </div>
    
  </nav>


  
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-6 sidenav">

 

        <br>
        <h2>NC Highway Traffic Crash and Fatality Dashboard</h2>
        <br>
        <h6>The following summary on this webpage is from Riddle & Brantley, LLP</h6>
        <br>
        <h5>Each year, the North Carolina DMV compiles statistics regarding auto accidents. The intent is to publish statistics regarding auto injuries, crashes and fatalities in an attempt to get more North Carolinians on board regarding highway safety. This is a brief guide to the statistics for 2017.</h5>
            <br>
        <h4>Crash Statistics in North Carolina</h4>
        <br>
        <h5>In 2017, there were 275,067 crashes on North Carolina roadways, an increase of nearly 9,000 from 2016 and nearly 40,000     over the 2012-2016 average. The years 2012 to 2017 saw increases in the number of overall crashes each year. Every year’s    crash numbers increased by at least 6,000, with the sharpest increase from 2015 to 2016 at in increase of nearly 15,000.
          <br><br>
          Of the 275,067 crashes in 2017, 81,865 – or 29.7% – caused injuries to either drivers or passengers. This number is an 800-crash decrease from 2016, but an increase from the 2012 to 2016 average of 74,429. Overall, the rate of injury crashes has moved up and down over these years, but increased from a low of around 60,000 in 2013.
          <br><br>
          Fatal crashes topped 1,287 in 2017. The number decreased by nearly 60 crashes from 2016 and is a bit higher than the four-year average of 1,228 fatal crashes. Overall, crash rates are up nearly 15 points to 230.95 from the 4-year average.
        </h5>
        <br>
        <h4>How Many Accidents are Fatal?</h4>
        <br>
        <h5>The 81,865 injury-causing crashes in 2017 injured 127,964 people overall. The number significantly decreased by over 2,000 from 2016, but is almost 11,000 higher than the 4-year average. In comparison, the total number of fatalities in 2017 is 1,396, down approximately 40 fatalities since 2016 but 72 higher than the 4-year average. Injury and fatality rates are down by tenths of a point over the 4-year period.</h5>
        <br>
        <h4>What Are The most Common Crash Factors in N.C.?</h4>
        <br>
        <h5>Seat belt use greatly affects the fatality level of a crash. Of the 1,016 fatalities in which seatbelt data exists, 41% – or 417 – were unbelted. The rates remain fairly consistent over the 4-year average, hovering between 40% and 42% of drivers killed who were unbelted.
        <br><br>
          ALCOHOL<br>
          Overall, 11,342 crashes – 4.1% of all crashes – involved alcohol. Alcohol-related crashes killed a total of 368 people, 26.4% of all fatalities. Alcohol led to 7,922 injuries, or 6.2% of all injuries. From this, we can deduce that alcohol-related crashes are more likely to be fatal than other crashes.
        <br><br>
          SPEED<br>
          In contrast, speed caused 91,603 crashes, 33.3% of all crashes. Speed caused 46,589 injuries and 445 fatalities, around 32% of both outcomes. All numbers have increased since 2016, and increased steadily over the 4-year period.
        <br><br>
          DISTRACTED DRIVING<br>
          Distracted driving caused 54,133 crashes in 2017, 19.7% of all crashes. Overall, distracted driving caused 25,237 injuries and 152 deaths. The number of crashes is about 4,000 higher than the 4-year average, but lower than 2016’s figure. Meanwhile, the number of fatalities and injuries as a result of distracted driving experienced a decrease from the 2016 numbers as well as the 4-year average.</h5>
        <br>
        <h4>Holiday Relationship to number of Crashes?</h4>
        <br>
        <h5>North Carolina DMV numbers regarding crashes over a holiday period are inconsistent in that statistics for New Year’s,       for example, run from 6 PM on December 31st to midnight on January 1st. In contrast, other holidays encompass entire         weekends, or even four- to five-day spans. Therefore, it is difficult to calculate which holiday has the most crashes.
          <br><br>
          However, 690 crashes occurred in a 6-hour span on New Year’s Eve, 2017. Memorial Day weekend experienced 1,768 crashes over the four-day weekend, while the Fourth of July and Labor Day had 2,671 and 1,835 respectively. Christmas – also a four-day period according to the DMV – experienced 2,206 crashes, and Thanksgiving week’s 5-day period had 2,746. It appears Christmas is the most crash-prone four-day period, but New Year’s Eve has the highest number of crashes per hour.</h5>
        <div class="input-group">

              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>


      <div class="col-sm-6">

        <br><br>
        <img src="../static/images/intersection_crash.jpg" alt="Crash at Intersection"



        style="width:650px;height:400px;">

        <hr>

        <br><br>

        <img src="../static/images/raleigh_crash.jpg" alt="Raleigh Police at Crash Site"

        style="width:650px;height:400px;">

        <hr>    

        <br><br>

        <img src="../static/images/towtruck.jpg" alt="Towing Car"


        style="width:700px;height:500px;">

        <hr>

        <br><br>

        <img src="../static/images/trafficjam.jpg" alt="Traffic Jam on Highway"


        style="width:700px;height:400px;">

        <hr>
</body>
</html>